
<div>
  <footer class="footer">
    <div class="container">
      <div class="row ">
        <div class="col text-start">
          <h4 class="footer-heading">Contact Us</h4>
          <p>Contact us: <a href="tel:+1234567890">735-719-5757</a></p>
          <p><a href="mailto:foodie.niit@gmail.com Newicon"><i class="fa-solid fa-envelope-open-text Newicon"></i>
              &nbsp;&nbsp;Email:
              info.getvisahere@gmail.com</a>
          </p>
          <p (click)="goToMap()"><i class="fa-solid fa-location-dot Newicon"></i>&nbsp;&nbsp;<span>Address:   Indri(Karnal),Indergarh Road(SUS College road)Town,Indri,Haryana,132041</span></p>
        </div>
        <div class="col text-start ms-5">
          <h4 class="footer-heading">Our Services</h4>
          <ul>
            <li class="my-1">&nbsp;&nbsp;<a href="#">Tourist Visa</a></li>
            <li class="my-1">&nbsp;&nbsp;<a href="#">Study Visa</a></li>
          </ul>
        </div>
        <div class="col d-flex-column">
          <div>
            <h4 class="footer-heading">Follow Us</h4>
            <div class="social-icons">
              <a href="#" class="social-icon"><a href="https://www.facebook.com/Add visa/" target="_blank"><i class="fab fa-facebook-f"></i></a></a>
              <a href="#" class="social-icon"><a href="https://www.instagram.com/add.visa/" target="_blank"><i class="fab fa-instagram"></i></a></a>
              <a href="#" class="social-icon"><a href="https://www.youtube.com/@addvisa" target="_blank"><i class="fa-brands fa-youtube"></i></a></a>
              <a href="#" class="social-icon"><a href="https://wa.me/7357195757" target="_blank"><i class="fab fa-instagram"></i></a></a>
            </div>
          </div>
          <div class="mt-4">


          </div>
        </div>

      </div>

    </div>

    

  </footer>

</div>
