<!-- <div class="image">
  <img
    src="https://th.bing.com/th/id/OIP.Z2k1c61HZfG4pGX37yhQkgHaEo?pid=ImgDet&rs=1"
    height="400px%"
    width="100%"
  />
  <h1>About Us</h1>
</div> -->
<div class="row">
  <div class="col-md px-3"><br>
    <h1 style="color: rgb(238, 87, 87); margin-top: 2%; margin-left: 10%">
      Get About Us
    </h1> <br>
    <h6 class="us" style="color: rgb(82, 5, 59);margin-right: 20%;">We are an immigration company dealing in tourist and study visa.<br> We have immigration law experts who are always ready to help our<br> clients and find solution to their immigration related problems.</h6>
    <br>
    <h6 class="us" style="color: rgb(82, 5, 59);margin-right: 20%;">Our immigration expert has track record of overturning more<br> than 400 Tourist visa refusal case of UK.</h6>
  </div>
  <div class="col-md px-3">
    <img
      src="https://th.bing.com/th/id/OIP.GK4kSRhO0d4RYb_9ZpEqhgHaE8?pid=ImgDet&rs=1"
    />
  </div>
</div>

<div class="box">
  <div class="row">
    <div class="col-md-4">
      <div id="companyDetails">
        <div class="card" (click)="goToComponent('contact')">
          <div class="card-body">



            <h6 class="head1">  <i class="fa-regular fa-building fa-beat fa-lg" style="color: #ff0000;"></i> Company Name</h6>
            <h1 class="head1">Add Visa</h1>
              <h6>click here for details</h6>
          </div>
        </div>
      </div>
</div>
      <div class=" col-md-4">
        <div id="companyDetails">
          <div class="card">
            <div class="card-body">
              <i class="fa-solid fa-flask fa-beat fa-2xl" style="color: #ff0000;"></i>

              <h1 class="head1">Experience</h1>
              <h4>+5 years</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div id="companyDetails">
          <div class="card">
            <div class="card-body">
              <i class="fa-regular fa-face-smile fa-beat fa-2xl" style="color: #ff0000;"></i>
              <h1 class="head1">Happy Customers</h1>
              <h4>+20000</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="bg-dark text-white pt-5 pb-4">
 <div class="container text-center text-md-left">
  <div class="row text-center text-md-left">
 <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 ">
  <h5 class="text-uppercase mb-4 font-weight-bold text-warning">COMPANY NAME</h5>
  <p>add visa</p>

 </div>



 <div class="col-md-2 col-lg-10 col-xl-2 mx-auto mt-3 ">
  <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Experience</h5>

 </div>
 <div class="col-md-2 col-lg-3 col-xl-3 mx-auto mt-3 ">
  <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Happy Customers</h5>
  <p>add visa</p>

 </div>
  </div>
 </div>
</div> -->

