/* Common styles for all screen sizes */
.director-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.director-image-container {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid blue;
  box-sizing: border-box;
}

.director-image {
  width: 150px;
  height: 150px;
}

.zoom-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 255, 0.5);
  opacity: 0;
}

.director-info {
  margin-left: 20px;
}

/* Media Query for smaller screens (e.g., mobile devices) */
@media (max-width: 767px) {
  .director-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .director-info {
    margin-left: 0;
    margin-top: 10px;
  }
}
